<form
  *transloco="let t"
  [formGroup]="form"
  (ngSubmit)="onLogIn()"
  class="example-form dto-flex-column dto-standard-width dto-auto-margin">

  <mat-form-field class="example-full-width">
    <mat-label>{{t('USERNAME')}}</mat-label>
    <input
      [formControl]="form.controls.username"
      matInput
      autocomplete="username"
    />
    <mat-error>{{t('USERNAME_IS_REQUIRED')}}</mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>{{t('PASSWORD')}}</mat-label>
    <input
      [formControl]="form.controls.password"
      matInput
      type="password"
      autocomplete="current-password"
    />
    <mat-error>{{t('PASSWORD_IS_REQUIRED')}}</mat-error>
  </mat-form-field>

  <button
    [disabled]="form.invalid"
    mat-flat-button
    color="primary"
    type="submit">
    {{t('LOGIN')}}
  </button>

</form>
